<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>{{ report.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img *ngIf="report.photoUrl" [src]="report.photoUrl" class="detail-photo"></ion-img>

  <p class="detail-desc" *ngIf="report.description">{{ report.description }}</p>
  <p class="detail-reporter" *ngIf="report.reporter">
    Reported by {{ report.reporter.name }} on {{ report.createdAt | date:'medium' }}
  </p>

  <h3>Update Status</h3>
  <!-- segment is used to select just one status of the report, ionChange is event and happens when switching between segmenets -->
  <ion-segment [value]="report.status" (ionChange)="updateStatus($event.detail.value)">
    <ion-segment-button value="pending"><ion-label>Pending</ion-label></ion-segment-button>
    <ion-segment-button value="in_progress"><ion-label>In Progress</ion-label></ion-segment-button>
    <ion-segment-button value="resolved"><ion-label>Resolved</ion-label></ion-segment-button>
  </ion-segment>
</ion-content>
