<!-- ion-tabs to display tabbed content,each tab independant and saves navigation history and scroll position-->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="my-reports" href="/tabs/my-reports">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>My Reports</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="nearby" href="/tabs/nearby">
      <ion-icon name="navigate-outline"></ion-icon>
      <ion-label>Nearby</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
