<ion-content class="ion-padding login-bg" [fullscreen]="true">
  <div class="login-wrapper">

    <div class="brand">
      <ion-icon name="location" class="brand-icon"></ion-icon>
      <h1>CityFix</h1>
      <p>Report it. Track it. Fix it.</p>
    </div>

    <ion-card class="login-card">
      <ion-card-content>

        <ion-item lines="full" class="input-item">
          <!--force the icon on the left -->
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-label position="floating">Email</ion-label>
          <!-- 2 way binding -->
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>

        <ion-item lines="full" class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-button expand="block" shape="round" class="login-btn" (click)="onLogin()">
          Login
        </ion-button>

        <ion-text color="danger" *ngIf="errorMessage">
          <p class="error-text">{{ errorMessage }}</p>
        </ion-text>

        <ion-button expand="block" fill="clear" routerLink="/register">
          Don't have an account?&nbsp;<strong>Register</strong>
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
